
body {

    background-color: #dddddd;
    color: #000000;
    text-align: center;
    text-justify: auto;
    margin-right: 30%;
    margin-left: 30%;

}



div {
    font-size: larger;
    text-align: center;
 
}



