
body {

    background-color: #dddddd;
    color: #000000;
    text-align: left;
    text-justify: auto;
    margin-right: 19%;
    margin-left: 10%;


}
img{
    height: 70vh;
    width: 70vw;
}

div{
    font-size: larger;
 ;
}


